html, body {
    display: flex;
    flex-grow: 1;
}

.ladle-resize-handle,
.ladle-aside {
    display: none
}

#ladle-root {
    flex-grow: 1;
    display: flex;
}

#root, .frame-content {
    height: 100vh;
    flex-grow: 1;
    display: flex;
}

.mdxeditor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mdxeditor-diff-source-wrapper {
    flex-grow: 1;
}

.mdxeditor-block-type-select button {
    width: 65px;
}
